<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <!-- Decided can only create boards when you're on the dashboard and not in a specific board-->
        <!-- Can choose a different layout-->
          {% if 'boards' in request.path %}
              <!--Need to add members page to view members...-->
              <!-- View members button-->
              <!--<a class="nav-link" >View members</a> -->
              <!-- New Dropdown Button -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="viewMembersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    View Members
                </a>
                <ul class="dropdown-menu" aria-labelledby="viewMembersDropdown">
                    <!-- Static member entries with checkboxes for demonstration -->
                    <li class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="memberCheckbox1">
                        <label class="form-check-label" for="memberCheckbox1">
                            Member 1
                        </label>
                    </li>
                    <li class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="memberCheckbox2">
                        <label class="form-check-label" for="memberCheckbox2">
                            Member 2
                        </label>
                    </li>
                </ul>
            </li>
          {% else %}
              <a class="nav-link" href="{% url 'create_board_view' %}">Create Board</a>
          {% endif %}
      </li>
  </ul>
  <li class="nav-item dropdown">
    <a class="nav-link" href="#" id="user-account-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="bi-person-circle"></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-account-dropdown">
      <li><a class="dropdown-item" href="{% url 'achievements' %}">Achievements</a></li>
      <li><a class="dropdown-item" href="{% url 'profile' %}">Change profile</a></li>
      <li><a class="dropdown-item" href="{% url 'password' %}">Change password</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="{% url 'log_out' %}">Log out</a></li>
    </ul>
  </li>
  </ul>
</div>

