{% extends 'base_content.html' %}
{% block content %}
<style>
    body {
        background-image: linear-gradient(to right top, #7b4aff, #6d63ff, #6577ff, #6688fb, #7097f4, #66a6f8, #63b3f9, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
        margin: 0;
        padding: 0;
        background-repeat: no-repeat;
        background-size: 200%, 200%; /* Adjust this property as needed */
        background-position: center center;
    }

</style>
<body>
<div class="container">
      <div class="row">
        <div class="col-12">
      <form class="form-group" action="{% url 'create_board_view' %}" method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <input type="submit" value="Submit Board" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</body>
{% endblock %}