{% extends 'base_content.html' %}
{% block content %}
    <style>
    .due_date {
        height: 30px;
    }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Welcome to your dashboard {{ user.username }} </h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <h3>To do </h3>
                <div class="panel panel-default">
                    <div class="panel-heading">

    <div class="container " class="boardsContainer">
        <div class="row " class="boardsRow">
            {% for board in boards %}
            <div class="col-4" class="boardCont">
                <a class ="boardLink" href= "{% url 'board' board.board_name %}"><button type="button" class="boards"  >{{ board.board_name }}</button></a>
            </div>

            <div class="col-4">
                <h3>In Progress</h3>
                <div class="panel panel-default">
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body">
                            <!-- Currently just a template and there is no tasks currently stored-->
                            {% comment %}
                            {%for task in task_data  %}
                            {%  endcomment %}
                            <div class="row">
                                <div class="col-6">
                                    <h5>Name of task</h5>
                                    {% comment %}
                                    {{ task.taskName }}
                                    {% endcomment %}

                                </div>
                                <div class="col-6">
                                    <h5>Due date</h5>
                                    {% comment %}
                                    {{ task.dueDate }}
                                    {% endcomment %}

                                </div>
                            </div>
                        </div>


                </div>
            </div>


            <div class="col-4">
                <h3>Completed</h3>
                <div class="panel panel-default">
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body">
                            <!-- Currently just a template and there is no tasks currently stored-->
                            {% comment %}
                            {%for task in task_data  %}
                            {%  endcomment %}
                            <div class="row">
                                <div class="col-6">
                                    <h5>Name of task</h5>
                                    {% comment %}
                                    {{ task.taskName }}
                                    {% endcomment %}
                                    <ul>
                                        <li>Create Task Model</li>
                                        <li>User story 3</li>
                                        <li>User story 5</li>
                                    </ul>

                                </div>

                                <div class="col-6" >
                                    <h5>Due date</h5>
                                    {% comment %}
                                    {{ task.dueDate }}
                                    {% endcomment %}
                                    <ul>
                                        <li>16/11/2023 17:53:24</li>
                                        <li>16/11/2023 17:53:24</li>
                                        <li>16/11/2023 17:53:24</li
                                    </ul>
                                </div>

                            </div>
                        </div>


                </div>
            </div>
        </div>
    </div>


{% endblock %}