{% extends 'base.html' %}
{% block body %}
  <div class="container vh-100">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <div class="card cover-card offset-sm-2 offset-md-4 offset-lg-8">
            <!-- Changed the title of home page --> 
          <h1 class="cover-heading">Trello from Wish</h1>
          <!-- Changed home page description --> 
          <p class="cover-text">A task manager application by Team <i>Lynx</i></p>
          <p>
            <a href='{% url 'sign_up' %}' class="btn btn-lg btn-secondary">
              Sign up
            </a>
          </p>
          <p>
            <a href='{% url 'log_in' %}' class="btn btn-lg btn-secondary">
              Log in
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
