{% load static %}
<head>
    <link href="{% static 'achievement_overlay.css' %}" rel="stylesheet">
</head>


<body>
    <div class="overlay-table">
        <form method="post" action="">
            {% csrf_token %}
            <button class="close-btn" name="Close">X</button>
        </form>
        {% if achievements.number_of_boards_deleted == 1 %}
            <p>Here are all your achievements for logins completed! You have logged in {{ achievements.number_of_logins_completed }} time so far!</p>
        {% else %}
            <p>Here are all your achievements for logins completed! You have logged in {{ achievements.number_of_logins_completed }} times so far!</p>
        {% endif %}
        <table>
            <thead>
                <tr>
                    <th>1st Login </th>
                    <th>10th Login</th>
                    <th>50th Login</th>
                    <th>100th Login</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% if achievements.logins_completed_1 is None %}
                        <td> You haven't got this reward yet!</td>
                    {% else %}
                        <td>{{ achievements.logins_completed_1 }}</td>
                    {% endif %}
                    {% if achievements.logins_completed_10 is None %}
                    <td> You haven't got this reward yet!</td>
                    {% else %}
                    <td>{{ achievements.logins_completed_10 }}</td>
                    {% endif %}
                    {% if achievements.logins_completed_50 is None %}
                        <td> You haven't got this reward yet!</td>
                    {% else %}
                        <td>{{ achievements.logins_completed_50 }}</td>
                    {% endif %}
                    {% if achievements.logins_completed_100 is None %}
                        <td> You haven't got this reward yet!</td>
                    {% else %}
                        <td>{{ achievements.logins_completed_100 }}</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
</body>
