/*
 * Alerts
 */

.alert {
  border-radius: 0px;
}


/*
 * Cover page
 */

.content {
  padding-top: 10px;
}


.h-100 {
  min-height: 100vh;
  height: 100vh;
}

.vcenter-item{
    display: flex;
    align-items: center;
}

/*
 * Cover page
 */

 /*
* Change font of text on home page
*/
h1.cover-heading {
  font-size: 4rem;
  font-family: "Lucida Console", "Courier New", monospace;
}

p.cover-text {
  font-size: 1.7rem;
  font-family: 'Roboto', sans-serif;
  color: antiquewhite
  }

.cover-card {
  background-color: rgba(48, 213, 200, 0.927);
  max-width: 30rem;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  border-radius: 15%;
}
.cover-card-block {
  opacity: 1
}

/*
* Buttons
*/
.btn-secondary {
  background-color:black; 
  border-color: black; 
}


/*
To implement: 

*/


/*
 * forms
 */
.nolabel label {
  display: none;
}

ul.errorlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*
 * Typefaces
 */

.low-key {
  color: #777777;
  font-weight: 300;
}

.list-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

/*
 * Profile
 */
.profile-image {
  width: 120px;
  clear:both;
  float:left;
}

.profile-text {
  overflow:hidden;
  padding-left:20px
}

h3.profile-title {
  margin-bottom: 0px;
}

.profile-username {
  color: #777777;
  font-weight: 300;
  font-style: italic;
}

/*
* Dashboard
*/

/*
 * Hyperlinks
 */
.content a {
  text-decoration: none;
  color: #0d6efd;
}
.content a:hover {
  text-decoration: underline;
  color: #0d6efd;
}


/*
Drop down menu for the view members button
*/

/* Custom CSS for Navbar Dropdown */
.navbar .dropdown-menu {
  margin-top: 0; /* Aligns dropdown menu with the navbar */
}

/* Style for the dropdown toggle */
.navbar .nav-link.dropdown-toggle {
  cursor: pointer; /* Changes cursor to pointer */
}

/* Optional: Style for hover effect on the dropdown items */
.navbar .dropdown-item:hover {
  background-color: #f8f9fa; /* Light grey background on hover */
  color: #007bff; /* Change text color on hover */
}

/* Custom CSS for Navbar Dropdown with Checkboxes */
.navbar .dropdown-menu .form-check {
  padding: 0.5rem 1rem; /* Adjust padding for each item */
  display: flex;
  align-items: center;
}

.navbar .dropdown-menu .form-check-input {
  margin-right: 0.5rem; /* Space between checkbox and label */
}

.navbar .dropdown-menu .form-check-label {
  margin-bottom: 0; /* Remove default bottom margin */
}





