/*
 * Alerts
 */

 .alert {
  border-radius: 0px;
}


/*
 * Cover page
 */

.card {
border: 1px solid #d3d3d3;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
font-size: 2.5rem;
font-weight: bold;
color: #333;
}

h1 + p {
font-size: 1.2rem;
color: #555;
margin-bottom: 20px;
}

.btn-primary {
color: #fff;
background-color: #007bff;
border: none;
}

.btn-secondary {
color: #fff;
background-color: #6c757d;
border: none;
}

.btn:hover {
opacity: 0.8;
}

.h-100 {
  min-height: 100vh;
  height: 100vh;
}

.vcenter-item{
    display: flex;
    align-items: center;
}

h1.cover-heading {
  font-size: 4rem;
  font-family: "Lucida Console", "Courier New", monospace;
}

p.cover-text {
  font-size: 1.7rem;
  font-family: 'Roboto', sans-serif;
  color: antiquewhite
  }

.cover-card {
  background-color: rgba(48, 213, 200, 0.927);
  max-width: 30rem;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  border-radius: 15%;
  
}
.cover-card-block {
  opacity: 1
}

/*
* Buttons
*/

.btn-secondary {
  background-color:black; 
  border-color: black; 
}




/*
 * forms
 */
.nolabel label {
  display: none;
}

ul.errorlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*
 * Typefaces
 */

.low-key {
  color: #777777;
  font-weight: 300;
}

.list-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

/*
 * Profile
 */
.profile-image {
  width: 120px;
  clear:both;
  float:left;
}

.profile-text {
  overflow:hidden;
  padding-left:20px
}

h3.profile-title {
  margin-bottom: 0px;
}

.profile-username {
  color: #777777;
  font-weight: 300;
  font-style: italic;
}

.content a {
  text-decoration: none;
  color: #0d6efd;
}
.content a:hover {
  text-decoration: underline;
  color: #0d6efd;
}


